* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background: #141a1e;
	color: #bbbbbb;
	font-family: 'Roboto Slab', serif;
}

h1 {
	grid-column: 1 / span 2;
	margin: 1rem 0;
	text-align: center;
	font-size: 3rem;
	letter-spacing: 0.2rem;
	color: #cccccc;
}

.index-h1 {
	display: block;
	text-align: center;
	margin-top: 25%;
	font-size: 5rem;
	letter-spacing: 0.5rem;
}

nav {
	width: 90%;
	margin: 1rem auto;
	border-bottom: 2px groove #242a2e;
}

.index-nav {
	width: 90%;
	padding: 1rem 0;
	border-top: 2px groove #242a2e;
	border-bottom: 2px groove #242a2e;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#current-page-nav-btn {
	border-bottom: 1px solid #cccccc;
	pointer-events: none;
	cursor: default;
}

nav li {
	font-size: 1.7rem;
}

nav a {
	padding: 0 0.5rem;
	text-decoration: none;
	color: #999999;
	transition: all linear 200ms;
}

nav a:hover {
	color: #dddddd;
}

main {
	margin: 0 7rem;
	display: grid;
	grid-template: auto / 2fr 1fr;
	/*background: #ffffff10;
	border-radius: 3px;*/
}

main p {
	max-width: 35rem;
	margin: 1rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
}

main img {
	max-width: min(25rem, 95%);
	margin: 1rem 0;
	height: auto;
	border-radius: 2px;
}

#contact-details {
	text-align: center;
	margin-bottom: 10rem;
}

footer {
	margin: 2rem 0;
	text-align: center;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

footer p {
	font-size: inherit;
}

@media screen and (max-width: 1100px) {
	main {
		margin: 0 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 0.80rem;
	}

	nav li {
		font-size: 1.5rem;
	}
}
